{
  "openapi": "3.0.1",
  "info": {
    "title": "JobsRnR Public API",
    "version": "0.5.0",
    "description": " [JobsRnR](https://www.jobsrnr.com) Public API is a RESTful API built over HTTP. This Public API allows searching of Tags, Industries and Job openings, in addition to obtaining canoncial URLs for Job openings with Referral Codes.\n# API Key\nPlease contact us at JobsRnR in order to retrieve your API Key.\n# Throttling and Rate Limiting\nThe API has a throttling mechanism, so we encourage some sort of caching. Throttling and Rate Limiting details:\n* Rate - 5 requests per second\n* Burst - 600 requests\n* Quota - 20,000 requests per month starting on the 1st day\nAs we develop this API, we may start adjusting (relaxing) these restrictions.\n# Current Status and Feedback\nThis API is still in its early stages, so there may still be some breaking changes. Please feel free to reach out to us at [JobsRnR](https://www.jobsrnr.com) with any feedback so that we can improve on this API.\n# Terms and Conditions\nBy using this API, you agree to the [API Terms of Services](https://www.jobsrnr.com/api-terms). "
  },
  "servers": [
    {
      "url": "https://data.jobsrnr.com"
    }
  ],
  "paths": {
    "/tags": {
      "get": {
        "summary": "Search Tags",
        "description": "Search Tags with results sorted by ID, ascending.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Keywords to search for in the following fields of a Tag: name, name_zh_tw, name_zh",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Integer representing page number. Pages are zero-indexed - the first set of results returned is on page 0. Size per page is set to 50.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Tags search results",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagSearchResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - missing API Key in x-api-key Header"
          },
          "500": {
            "description": "Server Error - Unable to Search Tags"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/industries": {
      "get": {
        "summary": "Search Industries",
        "description": "Search Industries with results sorted by ID, ascending.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Keywords to search for in the following fields of an Industry: name, name_zh_tw, name_zh",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Integer representing page number. Pages are zero-indexed - the first set of results returned is on page 0. Size per page is set to 50.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Industries search results",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndustrySearchResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - missing API Key in x-api-key Header"
          },
          "500": {
            "description": "Server Error - Unable to Search Industries"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/jobs": {
      "get": {
        "summary": "Search Job openings",
        "description": "Search Job openings with results sorted by score and post_date, descending. All Job openings returned by this API are 'open'.",
        "parameters": [
          {
            "name": "rewardCondition",
            "in": "query",
            "description": "String value of either hired or first_interview_completed.",
            "schema": {
              "type": "string",
              "enum": [
                "hired",
                "first_interview_completed"
              ]
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Keywords to search for in the following fields of a Job: title, description, company_name, company_description, company_description_zh_tw, company_description_zh",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referralCode",
            "in": "query",
            "description": "Setting this to 'true' will also fetch and include your Referral Code in the canonical URLs, as well as the search result object",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          },
          {
            "name": "featured",
            "in": "query",
            "description": "Either 'true' or 'false' - denotes whether a Job is Featured or not.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "ID(s) of tags that a Job must have.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "Integer ID of a City",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contractType",
            "in": "query",
            "description": "Integer ID of the Contract Type for a Job",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Integer representing page number. Pages are zero-indexed - the first set of results returned is on page 0. Size per page is set to 10.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "seniority",
            "in": "query",
            "description": "String value of one of the following: entry, middle, senior",
            "schema": {
              "type": "string",
              "enum": [
                "entry",
                "middle",
                "senior"
              ]
            }
          },
          {
            "name": "industry",
            "in": "query",
            "description": "Integer ID of an Industry",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Job search results",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobSearchResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - missing API Key in x-api-key Header"
          },
          "500": {
            "description": "Server Error - Unable to Search Jobs"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/jobs/{id}": {
      "get": {
        "summary": "Get Job opening",
        "description": "Get Job opening by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Numeric ID of the Job opening to get",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "referralCode",
            "in": "query",
            "description": "Setting this to 'true' will also fetch and include your Referral Code in the canonical URLs, as well as the result object",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Job result",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJobResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - missing API Key in x-api-key Header"
          },
          "404": {
            "description": "Unable to find Job opening with this ID"
          },
          "500": {
            "description": "Server Error - Unable to Get Job"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/cities": {
      "get": {
        "summary": "Search Cities",
        "description": "Search Cities with results sorted by ID, ascending.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Keywords to search for in the following fields of a City: name, name_zh_tw, name_zh, country_name, country_name_zh_tw, country_name_zh",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withJobs",
            "in": "query",
            "description": "Set to 'true' in order to return Cities with Job openings only",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Cities search results",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitySearchResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - missing API Key in x-api-key Header"
          },
          "500": {
            "description": "Server Error - Unable to Search Cities"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Job": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique ID for this Job opening"
          },
          "title": {
            "type": "string",
            "description": "Title for this Job opening"
          },
          "description": {
            "type": "string",
            "description": "A description for this Job Opening"
          },
          "min_salary_range": {
            "type": "integer",
            "description": "Lower bound range of Salary offered for this Job opening. All values are integers in HKD, with the lowest unit of the currency being the dollar."
          },
          "max_salary_range": {
            "type": "integer",
            "description": "Upper bound range of Salary offered for this Job opening. All values are integers in HKD, with the lowest unit of the currency being the dollar."
          },
          "yrs_experience": {
            "type": "number",
            "description": "Approximation of years of experienced required for this Job opening. Numeric type with a precision of 4 and scale of 1 - fractional values are possible (ex. 2.5 years experience)"
          },
          "seniority": {
            "type": "string",
            "description": "Seniority level of this Job opening. Possible values are 'entry', 'middle', and 'senior'",
            "enum": [
              "entry",
              "middle",
              "senior"
            ]
          },
          "referrer_reward": {
            "type": "integer",
            "description": "Reward in HKD paid out to the Referrer if the referral was a success. Values are integers in HKD, with the lowest unit of the currency being the dollar."
          },
          "candidate_reward": {
            "type": "integer",
            "description": "Reward in HKD paid out to the Candidate if the application was a success. Values are integers in HKD, with the lowest unit of the currency being the dollar."
          },
          "reward_condition_id": {
            "type": "integer",
            "description": "ID of the Reward Condition for this Job opening"
          },
          "reward_condition": {
            "type": "string",
            "description": "Reward Condition for this Job opening. Possible values are 'hired' and 'first_interview_completed'",
            "enum": [
              "hired",
              "first_interview_completed"
            ]
          },
          "post_date": {
            "type": "string",
            "description": "Date when this Job opening was created",
            "format": "date-time"
          },
          "slug": {
            "type": "string",
            "description": "URL Slug for this Job opening"
          },
          "status": {
            "type": "string",
            "description": "Status for this Job opening. Possible values are 'open', 'closed', and 'pending'. The Public API only returns Job openings that are open",
            "enum": [
              "open",
              "closed",
              "pending"
            ]
          },
          "meta_title": {
            "type": "string",
            "description": "Meta Title for this Job opening, in English"
          },
          "meta_description": {
            "type": "string",
            "description": "Meta Description for this Job opening, in English"
          },
          "meta_title_zh_tw": {
            "type": "string",
            "description": "Optional Meta Title for this Job opening, in Traditional Chinese"
          },
          "meta_description_zh_tw": {
            "type": "string",
            "description": "Optional Meta Description for this Job opening, in Traditional Chinese"
          },
          "meta_title_zh": {
            "type": "string",
            "description": "Optional Meta Title for this Job opening, in Simplified Chinese"
          },
          "meta_description_zh": {
            "type": "string",
            "description": "Optional Meta Description for this Job opening, in Simplified Chinese"
          },
          "featured_at": {
            "type": "string",
            "description": "Timestamp indicating if this Job opening is a Featured Job opening. A job opening is a Featured opening if the timestamp is present",
            "format": "date-time"
          },
          "cover_image": {
            "type": "string",
            "description": "URL of the Cover Image for this Job opening"
          },
          "is_anonymous": {
            "type": "boolean",
            "description": "Boolean indicating whether this Job opening is anonymous or not. If true, Company related fields will be set to null."
          },
          "company_id": {
            "type": "integer",
            "description": "ID of the Company hiring for this Job opening"
          },
          "company_name": {
            "type": "string",
            "description": "Name of the Company hiring for this Job opening, in English"
          },
          "company_name_zh_tw": {
            "type": "string",
            "description": "Optional name of the Company hiring for this Job opening, in Traditional Chinese"
          },
          "company_name_zh": {
            "type": "string",
            "description": "Optional name of the Company hiring for this Job opening, in Simplified Chinese"
          },
          "company_logo": {
            "type": "string",
            "description": "URL of the Logo for the Company hiring for this Job opening"
          },
          "company_website_url": {
            "type": "string",
            "description": "URL of the Company hiring for this Job opening, without the protocol"
          },
          "company_website_protocol": {
            "type": "string",
            "description": "Preferred protocol for the Website URL of the Company hiring for this Job. Possible values are http:// or https://",
            "enum": [
              "http://",
              "https://"
            ]
          },
          "company_description": {
            "type": "string",
            "description": "Description of the Company that owns this Job opening, in English"
          },
          "company_description_zh_tw": {
            "type": "string",
            "description": "Optional Description of the Company hiring for this Job opening, in Traditional Chinese"
          },
          "company_description_zh": {
            "type": "string",
            "description": "Optional Description of the Company hiring for this Job opening, in Simplified Chinese"
          },
          "tags": {
            "uniqueItems": true,
            "type": "array",
            "description": "List of Tags associated with this Job opening",
            "items": {
              "$ref": "#/components/schemas/JobTag"
            }
          },
          "industry_id": {
            "type": "integer",
            "description": "ID for the Industry this Job opening belongs to"
          },
          "industry_name": {
            "type": "string",
            "description": "Name for the Industry this Job opening belongs to, in English"
          },
          "industry_name_zh_tw": {
            "type": "string",
            "description": "Name for the Industry this Job opening belongs to, in Traditional Chinese"
          },
          "industry_name_zh": {
            "type": "string",
            "description": "Name for the Industry this Job opening belongs to, in Simplified Chinese"
          },
          "contract_type_id": {
            "type": "integer",
            "description": "Contract Type ID for this Job Opening"
          },
          "contract_type_name": {
            "type": "string",
            "description": "Contract Type for this Job opening, in English"
          },
          "contract_type_name_zh_tw": {
            "type": "string",
            "description": "Contract Type for this Job opening, in Traditional Chinese"
          },
          "contract_type_name_zh": {
            "type": "string",
            "description": "Contract Type for this Job opening, in Simplified Chinese"
          },
          "city_id": {
            "type": "integer",
            "description": "ID of the City where this Job opening is located"
          },
          "city_name": {
            "type": "string",
            "description": "Name of the City this Job opening is located in, in English"
          },
          "city_name_zh_tw": {
            "type": "string",
            "description": "Name of the City this Job opening is located in, in Traditional Chinese"
          },
          "city_name_zh": {
            "type": "string",
            "description": "Name of the City this Job opening is located in, in Simplified Chinese"
          },
          "city_hide_country": {
            "type": "boolean",
            "description": "Boolean to indicate whether you should append the country after the city. Purely aesthetic. Example: Hong Kong instead of Hong Kong, China or Singapore instead of Singapore, Singapore"
          },
          "country_name": {
            "type": "string",
            "description": "Name of the Country this Job opening is located in, in English"
          },
          "country_name_zh_tw": {
            "type": "string",
            "description": "Name of the Country this Job opening is located in, in Traditional Chinese"
          },
          "country_name_zh": {
            "type": "string",
            "description": "Name of the Country this Job opening is located in, in Simplified Chinese"
          },
          "canonical_url": {
            "type": "string",
            "description": "Canonical URL to this Job opening in English, with Referral Code attached in query if requested"
          },
          "canonical_url_zh_tw": {
            "type": "string",
            "description": "Canonical URL to this Job opening in Traditional Chinese, with Referral Code attached in query if requested"
          },
          "canonical_url_zh": {
            "type": "string",
            "description": "Canonical URL to this Job opening in Simplified Chinese, with Referral Code attached in query if requested"
          }
        }
      },
      "JobTag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID for this Tag"
          },
          "name": {
            "type": "string",
            "description": "Name for this Tag, in English"
          },
          "name_zh_tw": {
            "type": "string",
            "description": "Name for this Tag, in Traditional Chinese"
          },
          "name_zh": {
            "type": "string",
            "description": "Name for this Tag, in Simplified Chinese"
          }
        }
      },
      "GetJobResult": {
        "title": "Get Job Result Schema",
        "type": "object",
        "properties": {
          "result": {
            "uniqueItems": true,
            "type": "object",
            "description": "Job opening returned given the ID",
            "items": {
              "$ref": "#/components/schemas/Job"
            }
          },
          "referral_code": {
            "type": "string",
            "description": "Your referral code, if requested"
          }
        },
        "example": {
          "result": {
            "id": 879,
            "title": "Content and Digital Marketing Specialist / Manager",
            "industry_id": 3,
            "contract_type_id": 1,
            "description": "JobsRnR is looking for a Content and Digital Marketing Manager to take the lead in marketing our referral-based jobs platform. At JobsRnR, we strongly believe that peer-to-peer referrals represent the strongest form of endorsement.\n\nThe Candidate will be in a position to make key decisions regarding all content pertaining to JobsRnR, with the primary goal of increasing traffic and profile.",
            "min_salary_range": 20000,
            "max_salary_range": 30000,
            "yrs_experience": "3.0",
            "seniority": "middle",
            "referrer_reward": 3000,
            "candidate_reward": 0,
            "reward_condition_id": 4,
            "post_date": "2018-11-29T16:00:00.000Z",
            "slug": "jobsrnr-content-and-digital-marketing-specialist-manager",
            "status": "open",
            "meta_title": "Content and Digital Marketing Specialist / Manager",
            "meta_description": "JobsRnR is looking for a Content and Digital Marketing Manager to take the lead in marketing our referral-based jobs platform. At JobsRnR, we strongly believe that peer-to-peer referrals represent the strongest form of endorsement.",
            "meta_title_zh_tw": null,
            "meta_description_zh_tw": null,
            "meta_title_zh": null,
            "meta_description_zh": null,
            "featured_at": null,
            "city_id": 1,
            "is_anonymous": false,
            "company_id": 35,
            "company_name": "JobsRnR",
            "company_name_zh_tw": "JobsRnR",
            "company_name_zh": "JobsRnR",
            "company_logo": "https://rnrstorage.blob.core.windows.net/company-logos/e551c0bf-b751-4421-892b-13f99104260f.png",
            "cover_image": "https://rnrstorage.blob.core.windows.net/company-cover-images/ab3dc0f5-4417-4b2e-a963-7a595025ea4f.jpg",
            "company_website_url": "www.jobsrnr.com",
            "company_website_protocol": "https://",
            "company_description": "JobsRnR was founded on the simple belief that peer-to-peer referrals represent the strongest form of endorsement. Our goal is to connect employers with qualified and talented job seekers, at lower costs and with greater efficiency.",
            "company_description_zh_tw": "JobsRnR 是香港首個以賞金為基礎的工作推薦平台。在JobsRnR體系下，您可以透過\"分享\"個人網絡，推薦朋友到合適既工作以賺取賞金。JobsRnR是一個無論推薦更好工作的機會予朋友，抑或尋找著數機會都合適既平台。",
            "company_description_zh": "JobsRnR 是香港首个以赏金为基础的工作推荐平台。在JobsRnR体系下，您可以透过\"分享\"个人网络，推荐朋友到合适既工作以赚取赏金。 JobsRnR是一个无论推荐更好工作的机会予朋友，抑或寻找着数机会都合适既平台。",
            "tags": [
              {
                "id": 85,
                "name": "Marketing",
                "name_zh_tw": "市場推廣",
                "name_zh": "市场推广"
              },
              {
                "id": 206,
                "name": "SEO",
                "name_zh_tw": "SEO",
                "name_zh": "SEO"
              },
              {
                "id": 246,
                "name": "Digital Marketing",
                "name_zh_tw": "數碼營銷",
                "name_zh": "数码营销"
              }
            ],
            "reward_condition": "hired",
            "industry_name": "Information Technology (IT)",
            "industry_name_zh": "资讯科技",
            "industry_name_zh_tw": "資訊科技 (IT)",
            "contract_type_name": "Full-time",
            "contract_type_name_zh": "全职",
            "contract_type_name_zh_tw": "全職",
            "city_name": "Hong Kong",
            "city_name_zh": "香港",
            "city_name_zh_tw": "香港",
            "city_hide_country": true,
            "country_name": "Hong Kong",
            "country_name_zh": "香港",
            "country_name_zh_tw": "香港",
            "canonical_url": "https://www.jobsrnr.com/job/879/jobsrnr-content-and-digital-marketing-specialist-manager?code=Xjp6XCUo5NM73mMqMg",
            "canonical_url_zh_tw": "https://www.jobsrnr.com/zh-tw/job/879/jobsrnr-content-and-digital-marketing-specialist-manager?code=Xjp6XCUo5NM73mMqMg",
            "canonical_url_zh": "https://www.jobsrnr.com/zh/job/879/jobsrnr-content-and-digital-marketing-specialist-manager?code=Xjp6XCUo5NM73mMqMg"
          },
          "referral_code": "Xjp6XCUo5NM73mMqMg"
        }
      },
      "JobSearchResult": {
        "title": "Job Search Result Schema",
        "type": "object",
        "properties": {
          "hits": {
            "type": "integer",
            "description": "Number of matching results"
          },
          "results": {
            "uniqueItems": true,
            "type": "array",
            "description": "List of Jobs returned for this page",
            "items": {
              "$ref": "#/components/schemas/Job"
            }
          },
          "referral_code": {
            "type": "string",
            "description": "Your referral code, if requested"
          }
        },
        "example": {
          "hits": 1,
          "results": [
            {
              "id": 879,
              "title": "Content and Digital Marketing Specialist / Manager",
              "industry_id": 3,
              "contract_type_id": 1,
              "description": "JobsRnR is looking for a Content and Digital Marketing Manager to take the lead in marketing our referral-based jobs platform. At JobsRnR, we strongly believe that peer-to-peer referrals represent the strongest form of endorsement.\n\nThe Candidate will be in a position to make key decisions regarding all content pertaining to JobsRnR, with the primary goal of increasing traffic and profile.",
              "min_salary_range": 20000,
              "max_salary_range": 30000,
              "yrs_experience": "3.0",
              "seniority": "middle",
              "referrer_reward": 3000,
              "candidate_reward": 0,
              "reward_condition_id": 4,
              "post_date": "2018-11-29T16:00:00.000Z",
              "slug": "jobsrnr-content-and-digital-marketing-specialist-manager",
              "status": "open",
              "meta_title": "Content and Digital Marketing Specialist / Manager",
              "meta_description": "JobsRnR is looking for a Content and Digital Marketing Manager to take the lead in marketing our referral-based jobs platform. At JobsRnR, we strongly believe that peer-to-peer referrals represent the strongest form of endorsement.",
              "meta_title_zh_tw": null,
              "meta_description_zh_tw": null,
              "meta_title_zh": null,
              "meta_description_zh": null,
              "featured_at": null,
              "city_id": 1,
              "is_anonymous": false,
              "company_id": 35,
              "company_name": "JobsRnR",
              "company_name_zh_tw": "JobsRnR",
              "company_name_zh": "JobsRnR",
              "company_logo": "https://rnrstorage.blob.core.windows.net/company-logos/e551c0bf-b751-4421-892b-13f99104260f.png",
              "cover_image": "https://rnrstorage.blob.core.windows.net/company-cover-images/ab3dc0f5-4417-4b2e-a963-7a595025ea4f.jpg",
              "company_website_url": "www.jobsrnr.com",
              "company_website_protocol": "https://",
              "company_description": "JobsRnR was founded on the simple belief that peer-to-peer referrals represent the strongest form of endorsement. Our goal is to connect employers with qualified and talented job seekers, at lower costs and with greater efficiency.",
              "company_description_zh_tw": "JobsRnR 是香港首個以賞金為基礎的工作推薦平台。在JobsRnR體系下，您可以透過\"分享\"個人網絡，推薦朋友到合適既工作以賺取賞金。JobsRnR是一個無論推薦更好工作的機會予朋友，抑或尋找著數機會都合適既平台。",
              "company_description_zh": "JobsRnR 是香港首个以赏金为基础的工作推荐平台。在JobsRnR体系下，您可以透过\"分享\"个人网络，推荐朋友到合适既工作以赚取赏金。 JobsRnR是一个无论推荐更好工作的机会予朋友，抑或寻找着数机会都合适既平台。",
              "tags": [
                {
                  "id": 85,
                  "name": "Marketing",
                  "name_zh_tw": "市場推廣",
                  "name_zh": "市场推广"
                },
                {
                  "id": 206,
                  "name": "SEO",
                  "name_zh_tw": "SEO",
                  "name_zh": "SEO"
                },
                {
                  "id": 246,
                  "name": "Digital Marketing",
                  "name_zh_tw": "數碼營銷",
                  "name_zh": "数码营销"
                }
              ],
              "reward_condition": "hired",
              "industry_name": "Information Technology (IT)",
              "industry_name_zh": "资讯科技",
              "industry_name_zh_tw": "資訊科技 (IT)",
              "contract_type_name": "Full-time",
              "contract_type_name_zh": "全职",
              "contract_type_name_zh_tw": "全職",
              "city_name": "Hong Kong",
              "city_name_zh": "香港",
              "city_name_zh_tw": "香港",
              "city_hide_country": true,
              "country_name": "Hong Kong",
              "country_name_zh": "香港",
              "country_name_zh_tw": "香港",
              "canonical_url": "https://www.jobsrnr.com/job/879/jobsrnr-content-and-digital-marketing-specialist-manager?code=Xjp6XCUo5NM73mMqMg",
              "canonical_url_zh_tw": "https://www.jobsrnr.com/zh-tw/job/879/jobsrnr-content-and-digital-marketing-specialist-manager?code=Xjp6XCUo5NM73mMqMg",
              "canonical_url_zh": "https://www.jobsrnr.com/zh/job/879/jobsrnr-content-and-digital-marketing-specialist-manager?code=Xjp6XCUo5NM73mMqMg"
            }
          ],
          "referral_code": "Xjp6XCUo5NM73mMqMg"
        }
      },
      "Tag": {
        "title": "Tag Search Result Item Schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique ID for this Tag"
          },
          "name": {
            "type": "string",
            "description": "Name for this Tag, in English"
          },
          "name_zh_tw": {
            "type": "string",
            "description": "Name for this Tag, in Traditional Chinese"
          },
          "name_zh": {
            "type": "string",
            "description": "Name for this Tag, in Simplified Chinese"
          },
          "featured_at": {
            "type": "string",
            "description": "Timestamp indicating whether this Tag is featured"
          }
        }
      },
      "TagSearchResult": {
        "title": "Tag Search Result Schema",
        "type": "object",
        "properties": {
          "hits": {
            "type": "integer",
            "description": "Number of matching results"
          },
          "results": {
            "uniqueItems": true,
            "type": "array",
            "description": "List of Tags",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          }
        },
        "example": {
          "hits": 1,
          "results": [
            {
              "id": 18,
              "name": "Software Engineer",
              "name_zh": "软件工程师",
              "name_zh_tw": "軟件工程師",
              "featured_at": null
            }
          ]
        }
      },
      "Industry": {
        "title": "Industry Search Result Item Schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique ID for this Industry"
          },
          "name": {
            "type": "string",
            "description": "Name for this Industry, in English"
          },
          "name_zh_tw": {
            "type": "string",
            "description": "Name for this Industry, in Traditional Chinese"
          },
          "name_zh": {
            "type": "string",
            "description": "Name for this Industry, in Simplified Chinese"
          }
        }
      },
      "IndustrySearchResult": {
        "title": "Industry Search Result Schema",
        "type": "object",
        "properties": {
          "hits": {
            "type": "integer",
            "description": "Number of matching results"
          },
          "results": {
            "uniqueItems": true,
            "type": "array",
            "description": "List of Industries",
            "items": {
              "$ref": "#/components/schemas/Industry"
            }
          }
        },
        "example": {
          "hits": 1,
          "results": [
            {
              "id": 1,
              "name": "Banking",
              "name_zh": "银行",
              "name_zh_tw": "銀行"
            }
          ]
        }
      },
      "CitySearchResultItem": {
        "title": "City Search Result Item Schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique ID for this City"
          },
          "name": {
            "type": "string",
            "description": "Name for this City, in English"
          },
          "name_zh_tw": {
            "type": "string",
            "description": "Name for this City, in Traditional Chinese"
          },
          "name_zh": {
            "type": "string",
            "description": "Name for this City, in Simplified Chinese"
          },
          "slug": {
            "type": "string",
            "description": "URL slug for this City"
          },
          "hide_country": {
            "type": "boolean",
            "description": "Boolean indicating whether to not append City. Purely aesthetic. For example - Singapore instead of Singapore, Singapore."
          },
          "country_name": {
            "type": "string",
            "description": "Name for the Country this City belongs to, in English"
          },
          "country_name_zh_tw": {
            "type": "string",
            "description": "Name for the Country this City belongs to, in Traditional Chinese"
          },
          "country_name_zh": {
            "type": "string",
            "description": "Name for the Country this City belongs to, in Simplified Chinese"
          }
        }
      },
      "CitySearchResult": {
        "title": "City Search Result Schema",
        "type": "object",
        "properties": {
          "hits": {
            "type": "integer",
            "description": "Number of matching results"
          },
          "results": {
            "uniqueItems": true,
            "type": "array",
            "description": "List of Cities",
            "items": {
              "$ref": "#/components/schemas/CitySearchResultItem"
            }
          }
        },
        "example": {
          "hits": 1,
          "results": [
            {
              "id": 1,
              "country_id": 1,
              "name": "Hong Kong",
              "name_zh": "香港",
              "name_zh_tw": "香港",
              "slug": "hong-kong",
              "hide_country": true,
              "country_name": "Hong Kong",
              "country_name_zh": "香港",
              "country_name_zh_tw": "香港"
            }
          ]
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    }
  }
}
